name: Publish spec to /TR/
on:
  pull_request: {}
  push:
    branches: [main]
    paths:
      - 'index.html'

jobs:
  main:
    name: Build, Validate and Deploy
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: w3c/spec-prod@v1
        with:
          TOOLCHAIN: respec
          SOURCE: index.html
          W3C_ECHIDNA_TOKEN: ${{ secrets.W3C_TR_TOKEN }}
          W3C_WG_DECISION_URL: https://lists.w3.org/Archives/Public/public-device-apis/2021May/0008.html
          W3C_BUILD_OVERRIDE: |
            specStatus: WD

